<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Dept of Molecular and Cellular Biology, Harvard U: Directory</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="/Styles/MainSubs.css" rel="stylesheet" type="text/css">
<link href="/Styles/DivsHomes.css" rel="stylesheet" type="text/css">
<script language="Javascript" src="/Javascripts/Homes.js"></script>
<script language="JavaScript"><!--
Sect = 0
Sub = 0
// -->
</script>
<link href="http://www.mcb.harvard.edu/Styles/srch_directory.css" rel="stylesheet" type="text/css">
<script language="javascript"  src="http://www.mcb.harvard.edu/Javascripts/jquery-1.4.2.min.js" type="text/javascript"></script>
<!--<script language="javascript"  src="http://www.mcb.harvard.edu/Javascripts/directory_search.js" type="text/javascript"></script>-->
<script language="javascript"  src="/Users/username/mcb-git/MCB-Existing/mcb/templates/person_directory/live_site_page/directory_search.js" type="text/javascript"></script>

<script language="javascript" type="text/javascript">
<!--
$(document).ready(function(){
    var hvars = getUrlVars();    
    if (hvars['pid']){
        submit_directory_search_form('pid=' + hvars['pid']);    // single person search
    }else if(hvars['lab']){
        submit_directory_search_form('lab=' + hvars['lab']);    // single lab search
    }else{
        load_search_form();     // Load search form
    };
});
//-->
</script>
</head>

<body marginheight="13" marginwidth="13" leftmargin="13" topmargin="13">
<script language="Javascript1.1" src="/Javascripts/NavMenus.js"></script>
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#003F65">
  <tr bgcolor="#5B7FA3">
    <td height="85" colspan="4"><nobr><img src="/Images/Shield.gif" width="137" height="85"><a href="/index.html"><img src="/Images/BannerHome.gif" width="493" height="85" border="0"></a></nobr></td>
  </tr>
  <tr>
    <td width="137" height="28"><img src="/Images/spacer.gif" width="137" height="28"></td>
    <td width="30">&nbsp;</td>
    <td width="100%">&nbsp;</td>

    <td width="30">&nbsp;</td>
  </tr>
  <tr valign="top">
    <td><img src="/Images/DullBorder2.gif" width="1" height="217"><img src="/Images/Menu.gif" width="135" height="217" border="0" usemap="#LinkMap"><img src="/Images/DullBorder2.gif" width="1" height="217"><br>
	<img src="/Images/Spacer.gif" width="10" height="24"><br>
      <img src="/Images/Spacer.gif" width="8" height="17" border="0"><a href="/Search/" onMouseOver="mausover('Search')" onMouseOut="mausoff('Search')"><img src="/Images/SearchOff.gif" name="Search" width="33" height="17" border="0"></a><br>
       
      <img src="/Images/Spacer.gif" width="8" height="17" border="0"><a href="/Directory/"><img src="/Images/DirectoryOn.gif" name="Directory" width="46" height="17" border="0"></a><br>
      
      
      <img src="/Images/Spacer.gif" width="8" height="14" border="0"><a href="http://intranet.mcb.harvard.edu" onMouseOver="mausover('MCBinternal')" onMouseOut="mausoff('MCBinternal')"><img src="/Images/MCBinternalOff.gif" name="MCBinternal" width="89" height="14" border="0"></a><br>
      <img src="/Images/Spacer.gif" width="10" height="24"><br><a href="/ARC.html" onMouseOver="mausover('ARC')" onMouseOut="mausoff('ARC')"><img src="/Images/ARCOff.gif" name="ARC" width="124" height="24" border="0"></a><br>

    <a href="http://www.harvard.edu" onMouseOver="mausover('Harvard')" onMouseOut="mausoff('Harvard')"><img src="/Images/HarvardOff.gif" name="Harvard" width="101" height="16" border="0"></a></td>
    <td valign="top"><img src="/Images/Spacer.gif" width="30" height="30"></td>
    <td valign="top"><table width="100%" height="430" border="0" cellpadding="10" cellspacing="0" bgcolor="#FFFFFF">
      <tr>
        <td valign="top">		
		  
<!-- Begin Content section -->
<div align="center">
  <span class="Huge">Department Directory</span>
  </div>

  <p><table border="0" cellpadding="5" cellspacing="0" width="100%">
    <tr>
      <td>
        <center>
            <noscript><div class="errbox_msg">Sorry!  This page requires javascript to be turned on.</div></noscript>
	        <div id="directory_search_div"></div>
        </center>
        <hr />
        </td>
    </tr>
  </table>

 <div style="margin:10px 10px;">

     <a href="http://www.mcb.harvard.edu/Directory/emailer/emailer_form.php">emailer</a>
     <p>&nbsp;</p>

<!-- End Content section -->


 </td>
      </tr>
    </table>	</td>
    <td valign="top"><img src="/Images/Spacer.gif" width="30" height="30"></td>

  </tr>
  <tr>
  <td height="24" colspan="4"><i>&nbsp;&nbsp;</i></td>
  </tr>
</table>
<map name="LinkMap" id="LinkMap">
  <area shape="rect" coords="4,5,125,23" href="/Overview/" onmouseover="show(1)">
  <area shape="rect" coords="4,32,125,50" href="/Faculty/" onmouseover="show(2)">
  <area shape="rect" coords="4,59,125,77" href="/GradPrograms/" onmouseover="show(3)">
  <area shape="rect" coords="4,86,125,104" href="/UndergradStudy/" onmouseover="show(4)">

  <area shape="rect" coords="4,113,125,131" href="/Resources/" onmouseover="show(5)">
  <area shape="rect" coords="4,140,125,158" href="/NewsEvents/" onmouseover="show(6)">
  <area shape="rect" coords="4,167,125,185" href="/Outreach/" onmouseover="show(7)">
  <area shape="rect" coords="4,194,125,212" href="/Jobs/" onmouseover="show(8)">
</map>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7283201-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
